.index {
    background-color: lightblue;
    text-align: center;
    border-style: groove;
    border-color: red;

}

#fun{
    border-right: 50px;
    border-left: 50px;
    background-color: lightgray;
    text-align: center;
    width: 50%;
    height: fit-content;
    border-style:groove;
    padding: 15px;
    margin: 50px;
    border-color: blue;
    font-size: medium;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}